.hidden{
    display: none;
}

#about p {
    font-size: 1.2rem;
}

#header>.content>.inner{
    padding: 1.4rem 3rem;
}
#header h1{
    margin: 0;
}
#github p{
    margin: 0 0 1rem 0;
}
#github>p>strong>a{
    color: #6699cc;
}
#wrapper{
    height:100vh;
}
#bg{
    -moz-transform: scale(1.125);
    -webkit-transform: scale(1.125);
    -ms-transform: scale(1.125);
    transform: scale(1.125);
    -moz-transition: -moz-transform 0.325s ease-in-out, -moz-filter 0.325s ease-in-out;
    -webkit-transition: -webkit-transform 0.325s ease-in-out, -webkit-filter 0.325s ease-in-out;
    -ms-transition: -ms-transform 0.325s ease-in-out, -ms-filter 0.325s ease-in-out;
    transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out;
    background-image: url("/images/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#bg:after{
    background-image: none;
}